body{
 background-image: url(./images/bg-main-desktop.png); 
    background-repeat: no-repeat;
}

/* front card  */

.circle1{
    height: 50px;
    width: 50px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 10%;
}
.circle2{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid hsl(0, 0%, 100%);
    position: absolute;
    top: 15%;
    left: 25%;
}
.frontCardDetails{
    position: absolute;
    top: 20%;
    left: 10%;
}
.frontCardDetails .cardNumber{
    font-family: Space Grotesk;
    position: absolute;
    top: 50%;
    left: 16%;
    font-size: 500;
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 7px;
    
}
.frontCardDetails .cardName{
    font-family: Space Grotesk;
    position: absolute;
    top: 70%;
    left: 6%;
    font-size: 500;
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    text-transform: uppercase;
}
.frontCardDetails .cardMonth{
    font-family: Space Grotesk;
    position: absolute;
    top: 78%;
    left: 76%;
    font-size: 500;
    color: hsl(0, 0%, 100%);
    font-weight: 500;
}
.frontCardDetails .cardYear{
    font-family: Space Grotesk;
    position: absolute;
    font-weight: 500;
    font-size: 500;
    top: 78%;
    left: 84%;
    color: hsl(0, 0%, 100%);
}
.frontCardDetails .inclineslash{
    font-family: Space Grotesk;
    position: absolute;
    font-weight: 500;
    font-size: 500;
    top: 78%;
    left: 81%;
    color: hsl(0, 0%, 100%);
}

/* backcard */
.backCardDetails{
    position: absolute;
    margin-top: 29%;
    margin-left: 14%;
}

.cvv{
    position: absolute;
    top: 38%;
    left: 82%;
    color:  hsl(0, 0%, 100%);
    font-size: 18px;

}


/* inputInformation */

.inputDetails{
    position: absolute;
    top: 41%;
    left: 50%;
}
.cardHolderName {
    text-transform: uppercase;
    /* font-weight: bold 500; */
    font-weight: 600;
    letter-spacing: 2px;
}
.input1{
    width: 63%;
    height: 32px;
    border-radius: 8px;
    border-width: thin;
    margin-top: 1%;
}

/* cardNumber */
.cardNumbers{
    text-transform: uppercase;
    /* font-weight: bold 500; */
    font-weight: 600;
    letter-spacing: 2px;
}
.input2{
    width: 63%;
    height: 32px;
    border-radius: 8px; 
    border-width: thin;
    margin-top: 1%;
}

/* ExpDate and CVC */
.expDate{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    
}
.CVC{
    margin-left: 6%;
    text-transform: uppercase;
    /* font-weight: bold 500; */
    font-weight: 600;
    letter-spacing: 2px;
}
.input3{
    height: 29px;
    width: 15%;
    border-radius: 10px;
    border-width: thin;
    margin-top: 1%;
}
.input4{
    height: 29px;
    width: 15%;
    border-radius: 10px;
    border-width: thin;
    margin-top: 1%;
    margin-left: 3%;

}
.input5{
    width: 20%;
    height: 29px;
    border-radius: 10px;
    border-width: thin;
    margin-top: 1%;
    margin-left: 6%;
}

/* confirmButton */
.btn{
    width: 64%;
    height: 32px;
    border-radius: 8px; 
    color: hsl(0, 0%, 100%);
    background: hsl(278, 68%, 11%);
}


/* footer */
.attribution{
    position: absolute;
    bottom: 0%;
    right: 0%;
}
.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }


 
/* javascript css */

.validity{
    color: red;
   
}
.border-color{
    border-color: red;
    box-shadow: 1px 1px 8px 1px blue;;
}

.after-click{
    background-color: antiquewhite;
}
